
* {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
   
   
}
:root {
    --a: 0;
}

body {
    color: white;
    background-color:#212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0px;
    width: 100%;
    background-color: #af3232;
    position: fixed
   
}
nav a{
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: rgb(131, 131, 239);
    
}

.left {
    font-size: 1.8rem;
    font-weight: 700;
    color: yellow;
}

.firstsection {
    justify-content: space-around;
    display: flex;
    /* margin: 120px; */
    align-items: center;
    padding: 160px 0px;
    background-color:#212121;
   /* background-image: url("images/background.jpg");
    background-size:100%;*/
   
   

}

.leftsection {
    font-size: 3rem;
    font-weight: 600;
    margin: 30px;
}

.firstsection>div {
    width: 30%;
}

.rightsection img {
    width: 100%;
}

.purple {
    color: blueviolet;
}

.text-grey {
    color: grey;
}

#element {
    color: blueviolet;

}

.secondsection {
    
    max-width: 100%;
    margin: auto;
    padding: 74px 10px;
    background-color: #121212;
   
}

.secondsection h1 {
    font-size: 1.8rem;
}




.projects{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
.project-data{
    width: 300px;
    height: 392px;
    background-color: #484d4b;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
   
}
.project-data img{
    width: 100%;
    height: 300px;
    padding-top: 10px;
    object-fit: contain;
}
.project-title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.project-title p{
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.project-data a{
    text-decoration: none;
}


.code {
    font-size: 1.5em;
    color:orange;
    opacity: var(--a);
    transition: color 0.3s ease-out;
}
.project-data:hover{
    --a:1;
    background-color: #464343;
    box-shadow: 1px 2px 1px ;
}
.secTitle{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.all-project{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.all-project a{
    text-decoration: none;
}
.btn{
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: rgb(82, 82, 79);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 140px;
    height: 50px;
    font-size: 22px;
   transition: 0.3s;
    border-radius: 4px;
    color:white;
    cursor: pointer;
}
.btn:hover{
    background-color:yellow; 
    color: black;
}
.hamburger img{
    display: none;
    cursor: pointer;

}

.close{
    filter: invert(1);
    display: none;
    cursor: pointer;
}
.close img{
    width: 40px;
}

@media (max-width:900px) {
    nav ul{
        display: flex;
        justify-content: start;
        position: absolute;
        left: 110%;
        flex-direction: column;
        gap: 50px;
        font-size: 30px;
        background-color: #252020;
        top: 0;
        /* left: 20%; */
        right: 0;
        padding: 70px 36px;
        height: 100vh;
        transition: 0.5s;
    }
    .firstsection>div {
        width: 42%;
    }
    .hamburger img{
        display: block;
    }
    .close{
        display: block;
        
    }
}


@media (max-width:500px){
.firstsection>div {
    width: 70%;
}
.leftsection {
    font-size: 40px;
    margin: 30px;
}
.firstsection {
    justify-content: space-around;
    display: flex;
    
    /* margin: 120px; */
    align-items: center;
    padding: 160px 0px;
    background-color: #3d3937;
    flex-direction: column;
}

}
.colorful-text {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #ffbf00, #ff007f, #7f00ff, #00ffbf, #00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 10s linear infinite;
  }

  @keyframes rainbow {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
  }